/**
 * Site header
 */
.site-header {
  background-color: $head-background-color;
  // box-shadow: 0 4px 8px rgba(153, 189, 232, 0.7);
  // border-top: 5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.2;
  line-height: $base-line-height * $base-font-size * 2;
  position: sticky;
  top: 0;
  opacity:1;
  z-index:1;
}

.site-title {
  @include relative-font-size(2.25);
  font-weight: 450;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit * .5;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    background-color: $head-background-color;
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $on-tiny) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background-color: $head-background-color;
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit * .5 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.feed-subscribe,
.svg-icon {
  padding: 5px 5px 2px 0;
  margin-bottom: 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-tiny) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}



/**
 * Page content
 */
.page-content {
  // padding: $spacing-unit * .5 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
  padding-top: $spacing-unit * .5;
  text-align:left;
}

.post-list-block {
  background-color: #ffffff;
  margin: $spacing-unit * .5 auto;
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-page {
  margin: auto;
  max-width: $on-tiny - 20px;
  min-height: 300px;
  @media print, screen and (min-width: $on-small) {
    max-width: $on-small - 20px;
  }
  @media print, screen and (min-width: $on-medium) {
    max-width: $on-medium - 20px;
  }
  @media print, screen and (min-width: $on-large) {
    max-width: $on-large - 20px;
  }
}


.post-header {
  padding-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit * .5 }
  p, li {line-height: 2}

  h1 {
    @include relative-font-size(2);
    letter-spacing: -1px;
    line-height: 1.15;
  
    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.4);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }

}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 15px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 0px;
      &:hover { border-color: $border-color-02 }
    }
  }
}

.main-post-list {
  list-style: none;
  margin-left: 0;
  display: table;
  margin-bottom: $spacing-unit * .5;
  li {
    float: left;
    min-width: 300px;
    margin: 5px 15px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 0px;
      &:hover { border-color: $border-color-02 }
    }
  }
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
