.nav-position {
  width: $nav-width;
  min-height: $nav-width;
  position:relative;
  float:left;
}

.nav-content {
  border-radius: 3px;
  background-color: $post-background-color;
  width: $nav-width - $spacing-unit;
  margin-left: $spacing-unit * .5;
  margin-right: $spacing-unit * .5;
  padding-top: $spacing-unit * .5;
  position:fixed;
  top: 63px;
  text-align: left;
}

.nav-poster {
  h3 {
    margin-left:30px
  }

  ul {
    list-style: none;
    list-style-image:none;
    font-size: 14px;
    line-height:24px;

    li {
      padding: 5px 0px;
      line-height: 16px;

      &.tag-h1 {
        font-size: 1.2em;
        a {
          font-weight: bold;
          color: #333;
        }
      }
    }

    a {
      color: #666;
      &:hover { color: #999; }
    }

  }
}

.nav-categories {
  ul {
    list-style: none;
    list-style-image:none;
    font-size: 16px;
    line-height:24px;

    li {
      padding: 5px 0px;
      line-height: 16px;
    }
  }
}

@media print, screen and (max-width: $on-medium) {
  .nav-categories {
  width: 800px;
  min-height: auto;
  margin: 0;
  padding-bottom: $spacing-unit * .5;
  position: relative;
  float: right;
  top: 0px;
  }
}

@media print, screen and (max-width: $on-small) {
  .nav-poster {
    display: none;
  }
  .nav-categories {
    width: 100%;
  }
}