---
layout: base
---

<div class="wrapper post-list-block">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for categories in site.categories -%}
      <h1 class="page-heading">{{ categories[0] }}</h1>
      <ul class="main-post-list">
        {%- for post in categories[1] -%}
          <li>
              <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endfor -%}
  {%- endif -%}

</div>
